/* body {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: auto;
} */

h1 {
  text-align: center;
  font-size: 24px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.full-width {
  grid-column: span 2;
}

.lineButtons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
  grid-column: span 2;
}

.line-button-row {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.terminal-title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.line-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
}

.line-button.selected {
  background-color: #0056b3;
}

.line-button:hover {
  background-color: #0056b3;
}

.sequence-container {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: relative;
}

.sequence-container h3 {
  margin: 0;
  display: inline-block;
}

.sequence-container button {
  float: right;
  margin-top: 0;
}

.sequence {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.product-field {
  margin-bottom: 10px;
}

.error {
  color: red;
  font-size: 12px;
}

.delete-sequence {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-sequence:hover {
  background-color: #e60000;
}
